<%- include("../partials/header.ejs")%>

<section id="header" class="jumbotron text-center">
<h1 class="display-3" style="font-size:5vw;">
	<%=publication.title%>
</h1>
	 <p class="lead text-custom"><%= publication.author.username%>	
    </p>
</section>
<div class="row justify-content-center">
	<%if(publication.isVerified == undefined || publication.isVerified==0){%>
		
		<a class="btn btn-warning btn-sm " href="#">not verified</a>
		
		<%}else{%>
		
			<a class="btn btn-success btn-sm" href="#">verified</a>
		
		<%}%>
</div>


 <div class="d-flex justify-content-center">
<div>
	


<p style="padding-top:10%">
	

Id : <%= publication.id%>
<br>
Title : <%= publication.title%>
<br> 
Year of Publishing  : <%= publication.year%>
<br>
Type : <%= publication.type%>
<br>
Content : <%= publication.content%>
<br>

<h5 class="text-secondary">
Name of Faculty : <%= publication.author.username%>	
	</h5>	
	 
</div>	 
	 	</div>	  
<%- include("../partials/footer.ejs")%>